/* Custom Stylesheet */
/**
 *
 * Made By Joash Pereira
 * Thanks for MaterializeCSS.com
 */


@font-face {
    font-family: 'SoulMission';
    src:	url('../fonts/SoulMission.woff2') format('woff2')
    ,		url('../fonts/SoulMission.ttf.woff') format('woff')
	/*,		url('../fonts/SoulMission.ttf.svg#SoulMission') format('svg'),
   url('../fonts/SoulMission.ttf.eot'),
   url('../fonts/SoulMission.ttf.eot?#iefix') format('embedded-opentype')*/
        ; 
    font-weight: normal;
    font-style: normal;
}

.default_color{background-color: #2196F3 !important}

.default_color_text{color: #2196F3 !important}

.icon-block {
	padding: 0 15px;
}

#intro, #work, #team {padding-top: 4rem;}


#index-banner {
	/*min-height: 632px;*/
	/*min-height: 90vh;*/
	/*max-height: 864px;*/
	max-height: 200vh;
	position: relative;
	/*background-color: #2196F3;*/
}

#nav_f{
	box-shadow: none !important; 
	-webkit-box-shadow:none !important;
}

.text_h {
	padding: 15% 0;
	font-size: 6.0em;
	font-weight: 100;
	color:white;
}

.brand-logo{
	position: absolute;
	color: #fff;
	display: inline-block;
	/*font-size: 2.1rem;*/
	font-style: normal;
	font-weight: 100;
	/*font-weight: 400;*/
	padding: 0;
	letter-spacing: 4px;
	
	
	/*font-family: 'Rock Salt', cursive;*/
	/*font-family: 'Black Ops One', cursive;*/
	font-family: 'SoulMission';
	color: black;
	/*font-size: 2.1rem;*/
    font-weight: 400;
    font-size:74px !important;
    margin-top:20px;
}
.brand-logo small{
	/*font-family: "Roboto", sans-serif;*/
	letter-spacing: normal;
	font-size: 0.5em;
	/*font-weight: 100;*/
	/*text-transform: uppercase;*/
	text-transform: lowercase;
	font-variant: small-caps;
	padding-left: 15px;
}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.span_h2 {font-weight: 300;color: #2196F3;}

.text_b{color: #2196F3;}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
	color: #2196F3;
	font-size: 7rem;
	display: block;
}
/*.card-content a {color: #2196F3;}*/

.card-content a:hover {color: #2196F3;}

/*#work, #team{background: rgb(247, 247, 247);}*/

.text_pink{color:#EF9A9A;}

nav ul a {
	font-size: 1.2rem;
	color: #FFF;
	letter-spacing: 2px;
	display: block;
	font-weight: 300;
	padding: 0px 15px;
}

.cd-headline.type .cd-words-wrapper {
	vertical-align: top;
	overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
	/* vertical bar */
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 90%;
	width: 1px;
	background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
	-webkit-animation: cd-pulse 1s infinite;
	-moz-animation: cd-pulse 1s infinite;
	animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
	background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
	visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
	color: #2196F3;
}

.cd-headline.type b {
	visibility: hidden;
}

.cd-headline.type b.is-visible {
	visibility: visible;
}

.cd-headline.type i {
	position: absolute;
	visibility: hidden;
}
.cd-headline.type i.in {
	position: relative;
	visibility: visible;
}

@-webkit-keyframes cd-pulse {
	0% {
		-webkit-transform: translateY(-50%) scale(1);
		opacity: 1;
	}
	40% {
		-webkit-transform: translateY(-50%) scale(0.9);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(-50%) scale(0);
		opacity: 0;
	}
}
@-moz-keyframes cd-pulse {
	0% {
		-moz-transform: translateY(-50%) scale(1);
		opacity: 1;
	}
	40% {
		-moz-transform: translateY(-50%) scale(0.9);
		opacity: 0;
	}
	100% {
		-moz-transform: translateY(-50%) scale(0);
		opacity: 0;
	}
}

@keyframes cd-pulse {
	0% {
		-webkit-transform: translateY(-50%) scale(1);
		-moz-transform: translateY(-50%) scale(1);
		-ms-transform: translateY(-50%) scale(1);
		-o-transform: translateY(-50%) scale(1);
		transform: translateY(-50%) scale(1);
		opacity: 1;
	}
	40% {
		-webkit-transform: translateY(-50%) scale(0.9);
		-moz-transform: translateY(-50%) scale(0.9);
		-ms-transform: translateY(-50%) scale(0.9);
		-o-transform: translateY(-50%) scale(0.9);
		transform: translateY(-50%) scale(0.9);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(-50%) scale(0);
		-moz-transform: translateY(-50%) scale(0);
		-ms-transform: translateY(-50%) scale(0);
		-o-transform: translateY(-50%) scale(0);
		transform: translateY(-50%) scale(0);
		opacity: 0;
	}
}


/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:1200; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../img/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
	.text_h {
		padding: 4% 0;
		font-size: 5em;
		font-weight: 100;
		color: white;
	}
}

input, textarea {
	border-bottom: 1px solid #fff;
}

nav a.button-collapse {
	left: -25px;
}

.card-avatar .waves-effect {
	text-align: center;
	margin-top: 20px;
}

.card-avatar img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

.card-avatar .card-content {
	text-align: center;
}

.card .card-content p {
	margin: 15px 0px;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
	line-height: 30px !important;
}

.parallax-container {
	max-height: 400px;
}

footer.page-footer {
	margin-top: 0px !important;
}



/* AJOUTS */


/*h1 img{
	width:50%;
}*/
nav ul a, nav a, h2, h3, h4, h5 {
	color: #666;
}
h5{
	font-size: 1.4rem;
	font-weight: 300;
}
h6{
	font-weight: 400;
}
nav .brand-logo, .card-title {
	color: #393939 ;
}
.bgcolor1,
.default_color {
	background-color: #fff !important; 
}
.bgcolor2{
	background-color: #eee !important; 
}
/*.brand-logo {*/
    /*font-size:2.1rem;*/
/*}*/
/*nav .brand-logo {
    font-weight: 400;
    font-size:3rem;
}*/
.text_h {
    padding: 10% 0;
}
.small05{
	font-size: 0.5em;
	/*color:#999;*/
}
/*.small08{*/
/*	font-size: 0.8em;*/
/*}*/
/*.small09{*/
/*	font-size: 0.9em;*/
/*}*/
.biggertext{
	font-size: 1.2em;
}
.monospace-font, a {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
a:hover {
	opacity:0.8;
	/*text-decoration: underline !important;*/
}

.nav-wrapper h1{ padding:0; margin: 0; }
.toast{ max-width: 280px; }
.hyphenate{ word-break: initial; }
.justify{ text-align: justify; }


/*lessen gaps between cards*/
div.card-content > div.row{
	margin-bottom:0;
}

/* restore ndashes in lists */
ul li {
    margin-left: 15px;
}
ul li::before {
    margin-left: -15px;
    content: "– ";
}

footer{
	margin-bottom:30px;
}