<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  
  <title>Ultimate Gender Stats</title>
  <meta name="description" content="Ultimate Frisbee Game Gender Stats Tracker">
  <meta name="author" content="Mathias Leroy">

  <link rel="shortcut icon" type="image/png" sizes="32x32" href="assets/img/zapadisk_32x32.png" >
  <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="assets/img/zapadisk_192x192.png" >

  <link rel="manifest" href="site.webmanifest" crossorigin="use-credentials">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

  <!-- <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" /> -->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.2/nouislider.min.css" >-->
  
  <style type="text/css">
    .o-1{opacity:.1}
    .o-2{opacity:.2}
    .o-3{opacity:.3}
    .o-4{opacity:.4}
    .o-5{opacity:.5}
    .o-6{opacity:.6}
    .o-7{opacity:.7}
    .o-8{opacity:.8}
    .o-9{opacity:.9}
    
    .fs-01{font-size:0.2rem!important}
    .fs-02{font-size:0.2rem!important}
    .fs-03{font-size:0.3rem!important}
    .fs-04{font-size:0.4rem!important}
    .fs-05{font-size:0.5rem!important}
    .fs-06{font-size:0.6rem!important}
    .fs-07{font-size:0.7rem!important}
    .fs-08{font-size:0.8rem!important}
    .fs-09{font-size:0.9rem!important}
    .fs-10{font-size:1.0rem!important}
    .fs-11{font-size:1.1rem!important}
    .fs-12{font-size:1.2rem!important}
    .fs-14{font-size:1.4rem!important}
    .fs-16{font-size:1.6rem!important}
    .fs-18{font-size:1.8rem!important}


  
    /* Disables pull-to-refresh */
    body {
      overscroll-behavior-y: none;
      /*overscroll-behavior: none;*/
      /*overflow-y: hidden;*/
      
    /*  z-index: 1;*/
      /* Allow them to scroll down the document */
    /*  overflow-y: hidden;*/
    }
    /*.pseudobody{*/
    /*  z-index: 2;*/
    /*}*/
    
    
    body{
      color: #eeeeee;
    }
    a{
      text-decoration: none;
      /*color: inherit;*/
      /*opacity:0.9;*/
    }
    .theme--light.v-footer {
      background-color: inherit;
      color: inherit;
    }
    .v-tabs-items{min-height: calc(100vh - 100px); }
    .v-slide-group__prev, .v-slide-group__next {display: none !important; }
    h1,h2,h3,h4,h5,h6{
      word-break: keep-all;
    }
    
    
    .echarts {
      /*width: 300px!important;*/
      /*height: 200px!important;*/
      width: min(80vw, 400px)!important;
      height: min(80vw, 400px)!important;
    }

  </style>
  
</head>
<body>
<!--<div class="pseudobody">-->
  
  <div id="app">
    <v-app id="">
      <v-content >

<v-container class="pa-0"> <v-row no-gutters> <v-col align="center">

<v-card tile max-width="770" align="left" class="elevation-24">

<!-- TITLE -->
  <v-card-title class="text-center justify-center py-6">
    <h1 class="display-2">
      <v-icon large>mdi-gender-male-female</v-icon>
      Gender Stats
    </h1>
  </v-card-title>


<!-- TABS -->
    <v-tabs v-model="tab" grow icons-and-text touchless>
      <v-tab href="#tab1"> Game
        <v-icon>mdi-format-list-checks</v-icon>
      </v-tab>
      <v-tab href="#tab2"> Track
        <v-icon>mdi-record</v-icon>
      </v-tab>
      <v-tab href="#tab3"> Stats
        <v-icon>mdi-chart-bar</v-icon>
      </v-tab>
      <v-tab href="#tab4"> Export
        <v-icon>mdi-download</v-icon>
      </v-tab>
    </v-tabs>
    

<!-- PAGES -->
    <v-tabs-items v-model="tab" touchless >

      <v-btn small fixed dark fab bottom right color="info" @click="modalInfo = !modalInfo">
        <v-icon>mdi-information-variant</v-icon>
      </v-btn>

      <v-dialog v-model="modalInfo" fullscreen hide-overlay transition="dialog-bottom-transition">

        <v-card tile>
          <v-toolbar dark >
            <v-btn icon dark @click="modalInfo = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Help</v-toolbar-title>
            <!-- <v-spacer></v-spacer> -->
          </v-toolbar>

          <v-tabs v-model="tab" grow icons-and-text>
            <v-tab href="#tab1"> game
              <v-icon>mdi-format-list-checks</v-icon> </v-tab>
            <v-tab href="#tab2"> Track
              <v-icon>mdi-record</v-icon> </v-tab>
            <v-tab href="#tab3"> Stats
              <v-icon>mdi-chart-bar</v-icon> </v-tab>
            <v-tab href="#tab4"> Export
              <v-icon>mdi-download</v-icon> </v-tab>
          </v-tabs>

          <v-tab-item value="tab1" eager :transition="false" :reverse-transition="false">
            <v-card flat>
              <v-card-text>
                  <p>
                    In this tab you can create a new game, which is defined by:
                    <ul>
                      <li>Name: Use something unique, will be used as an id.</li>
                      <li>Players: 5vs5 / 7vs7</li>
                      <li>Number of Men playing</li>
                      <li>Number of Women playing</li>
                      <li>Date</li>
                    </ul>
                    you can also upload a game that was recorded prefiously (<code>.json</code> format)
                  </p>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item value="tab2" eager :transition="false" :reverse-transition="false">
            <v-card flat>
              <v-card-text>
                  <h4 class="overline mt-2 mb-2">ICONS</h4>
                  <ul>
                    <li><v-icon small >mdi-gender-female</v-icon>: Female</li>
                    <li><v-icon small >mdi-gender-male</v-icon>: Male</li>
                  </ul>

                  <h4 class="overline mt-5 mb-2">How To Use</h4>

                  <p>This tab is for recording a game. <br>For this to work you will need to have 1 game selected in the <strong>GAME</strong> tab.</p>
                  <p>The points will not be saved to the selected game until you press <kbd>END GAME & SAVE</kbd>.</p>
                  <p>Until then, all the points are stored temporarily.</p>
                  
                  <p>For each point you may indicate how many Women were on the line. <small>(The Number of Men will be deducted automatically from the game type 5vs5 or 7vs7).</small></p>

                  <p>Then you can start recording the events of the point by pressing the buttons.</p>

                  <p>The point will end automatically after a goal and a new point will start.</p>

                  <p><kbd>LOAD POINTS</kbd> can be used to load points in the temporary memory from a saved game that was uploaded for example.</p>

                  <p><kbd>CLEAR POINTS</kbd> will erase all points from temporary memory. 
                    <br><small>(not from the selected game! To achieve that, press <kbd>END GAME & SAVE</kbd>.)</p></small>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item value="tab3" eager :transition="false" :reverse-transition="false">
            <v-card flat>
              <v-card-text>
                  <h4 class="overline mt-2 mb-2">ICONS</h4>
                  <ul>
                    <li><v-icon small >mdi-gender-female</v-icon>: Female</li>
                    <li><v-icon small >mdi-gender-male</v-icon>: Male</li>
                    <li><v-icon small >mdi-sigma</v-icon>: Sum</li>
                  </ul>
                  <h4 class="overline mt-5 mb-2">METRICS</h4>
                  <ul>
                    <li>Pull Throws</li>
                    <li>Disk Pickups (anytime the disk was on the ground or catched mid-air)</li>
                    <li>Defenses</li>
                    <li>Goals</li>
                    <li>Assists</li>
                    <li>Drops</li>
                    <li>Throwaways/stallouts</li>
                    <li>Passes: F>F, M>M, F>M, M>F</li>
                  </ul>

                  <h4 class="overline mt-5 mb-2">STATS</h4>
                  <!-- You can select 3 kind of stats for each gender for all the metrics above: -->
                  <ol>
                    <li class="mt-2"><strong>Absolute</strong>: raw counts of events</li>
                    <li class="mt-2"><strong>Percentage</strong>: counts/total</li>
                    <li class="mt-2"><strong>Parity/Game</strong>: the deviation from perfect gender parity amongst all players present at the game (not only those on the line), (=observed percentage - expected percentage)</li>
                    <div class="mt-1">
                    e.g.: Suppose 5 Men and 8 Women play a game. The <strong>Expected Parity</strong> for all the metrics above, except passes, would be 5/13=38% & 8/13=62%). If during the game we effectiely see 2 Goals from Women and 2 Goals from Men, the <strong>Observed Parity</strong> would be 2/4=50% & 2/4=50%. The difference between Expected & Observed would then = +12% / -12%.
                    <br>
                    For passes, the Expected Parity is computed by supposing everyone passes the disk to everyone. For example 5M & 8F, would result in ~36% <small>(=8*7/156)</small> F>F, ~25% F>M, ~26% M>F, ~13% M>M passes.
                    </div>

                    <li class="mt-2">[COMING SOON] <strong>Parity/Point</strong>: the deviation from perfect gender parity amongst all players lined up for the points</li>
                  </ol>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item value="tab4" eager :transition="false" :reverse-transition="false">
            <v-card flat>
              <v-card-text>
                  <p>
                    By clicking <strong>DOWNLOAD</strong> your browser or smartphone will download a <code>.json</code> file. This file can then be shared and be imported from the <strong>GAME</strong> tab for later analysis.
                  </p>
              </v-card-text>
            </v-card>
          </v-tab-item>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="modalInfo = false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>



<!-- PAGE1 -->
      <v-tab-item value="tab1" eager :transition="false" :reverse-transition="false">
        <v-card flat>
          <v-card-text class="">
            
            
            <v-row>
              <v-col cols="12" align="center">
                <!-- <div align="center"> -->
                  <v-btn dark class="ma-1" @click="modalCreateGame = !modalCreateGame">
                    <v-icon left>mdi-plus</v-icon> Create Game
                  </v-btn>
                <!-- </div> -->
              </v-col>

              <v-col cols="12" align="center">
                <v-file-input label="Upload Game" prepend-icon="mdi-upload" single-line clearable="false"
                @change="uploadGame($event)" ref="uploadInputRef" v-model="file"
                class="py-0" outlined dense style="max-width:200px" ></v-file-input>
              </v-col>
            </v-row>


            <v-dialog v-model="modalCreateGame" fullscreen hide-overlay transition="dialog-bottom-transition">

              <v-card tile>
                <v-toolbar dark >
                  <v-btn icon dark @click="modalCreateGame = false">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                  <!-- <v-toolbar-title>Create Game</v-toolbar-title> -->
                  <v-spacer></v-spacer>
                  <v-toolbar-items>
                    <v-btn dark text @click="modalCreateGame = false; createGame();">Save New Game</v-btn>
                  </v-toolbar-items>
                </v-toolbar>
                <v-card-text class="pa-0">
                  <v-container>
                    <v-row >
                      
                      <v-col cols="12" sm="6" class="">
                        <v-text-field v-model="game.name" label="Game Name*" required clearable
                        persistent-hin hint="Unique ID! suggested: Tournament-Opponent"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" class="">
                        <v-select v-model="game.type" :items="['7vs7','5vs5']" label="Players*" required ></v-select>
                        <!-- ,'13vs13','12vs12','11vs11','10vs10','9vs9','8vs8','6vs6','4vs4','3vs3','2vs2' -->
                      </v-col>
                      <!-- <v-col cols="12" sm="6" class="">
                        <v-text-field type="number" label="Hard Cap?"></v-text-field>
                      </v-col> -->
                      <v-col cols="6" sm="6" class="">
                        <v-text-field v-model="game.players.M" type="number" label="Men - M"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="6" class="">
                        <v-text-field v-model="game.players.F" type="number" label="Women - F"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" class="">
                        <v-text-field v-model="game.date" type="date" label="Date"></v-text-field>
                      </v-col>
                      
                    </v-row>
                  </v-container>


                </v-card-text>
              </v-card>
            </v-dialog>


  <!-- LIST GAMES -->
              <v-list flat >
                <v-subheader class="overline">Games</v-subheader>
                <v-list-item-group v-model="selectedGame" >

                  <v-list-item v-for="(game, i) in games" :key="i">

                    <v-list-item-icon>
                      <v-icon v-if="selectedGame === i">mdi-checkbox-marked-outline</v-icon>
                      <v-icon v-else>mdi-checkbox-blank-outline</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                      <v-list-item-title><span class="font-weight-bold">{{game.name}}</span> </v-list-item-title>
                      
                      <div>
                        <span class="font-weight-bold">{{game.score}}</span> <small class="">({{game.date}})</small>
                        
                      </div>
                    </v-list-item-content>

                    <v-list-item-action>
                      <v-btn small icon @click="editGame(i)">
                        <v-icon color="grey lighten-1">mdi-pencil</v-icon>
                      </v-btn>
                    </v-list-item-action>
                    <v-list-item-action>
                      <v-btn small icon @click="deleteGame(i)">
                        <v-icon color="grey lighten-1">mdi-delete</v-icon>
                      </v-btn>
                    </v-list-item-action>


                  </v-list-item>
                </v-list-item-group>
              </v-list>

      
<!--<v-row >-->
  <!--<v-chart-pie :data="piedata"></v-chart-pie>-->
  
  <!--VUE VEGA TEST-->
    <!--<vega-lite
      :data="[
          {a: 'A', b: 28}, {a: 'B', b: 55}, {a: 'C', b: 43},
          {a: 'D', b: 91}, {a: 'E', b: 81}, {a: 'F', b: 53},
          {a: 'G', b: 19}, {a: 'H', b: 87}, {a: 'I', b: 52}
        ]" mark="bar" :encoding="{
          x: {field: 'a', type: 'ordinal'},
          y: {field: 'b', type: 'quantitative'}
        }">
    </vega-lite>-->
<!--</v-row>-->




          </v-card-text>
        </v-card>
      </v-tab-item>

<!-- PAGE2 -->
      <v-tab-item value="tab2" eager :transition="false" :reverse-transition="false">
        <v-card flat>
          
          <!-- <v-card-title> -->
            <!-- <span class="text-uppercase"></span>{{ games[selectedGame].name }} -->
          <!-- </v-card-title>  -->

          <v-card-text v-if="selectedGame!=undefined">
            
            <div class="text-center py-2">
              Selected Game: "{{games[selectedGame].name}}"
            </div>
            
            <h4 class="overline">Point {{ points.length+1 }}</h4>

            <v-slider v-model="currentlyAlignedF" min="-1" :max="Math.min( games[selectedGame].type.split('vs')[0], games[selectedGame].players.F)" 
            :label="useMF ? 'F aligned' : 'aligned'"
            :prepend-icon="useMF ? '' : 'mdi-gender-female'"
            >
              <template v-slot:append>
                <v-text-field
                v-model="currentlyAlignedF"
                min="0" :max="Math.min( games[selectedGame].type.split('vs')[0], games[selectedGame].players.F)"
                class="mt-0 pt-0"
                hide-details
                single-line
                type="number"
  
                style="width: 30px"
                ></v-text-field>
              </template>
            </v-slider>

            <v-row class="align-center py-2" v-for="gender in ['F','M']" :key="gender" no-gutters v-show="currentlyAlignedF!=null && currentlyAlignedF>=0">

              <v-col cols="1" class="font-weight-bold">
                <!-- {{gender}} -->
                <span v-if="useMF">{{gender}}</span>
                <template v-else>
                  
                  <v-icon small :class="{'blue--text': lastEvent.split('-')[0] == gender}" v-if="gender=='M'">mdi-gender-male</v-icon>
                  <v-icon small :class="{'blue--text': lastEvent.split('-')[0] == gender}" v-else-if="gender=='F'">mdi-gender-female</v-icon>
                </template>
              </v-col>

              
            <!-- START POINT -->
              <template v-if="point.length==0">

                <v-col class="pr-1">
                  <v-btn block class="px-1" @click="point = [gender+'-pullthrow']" :class="{'o-5': points.length>0 && lastEvent.replace('F-','').replace('M-','')!='goal'}">
                    <v-icon small left>mdi-redo</v-icon>
                    Pull
                  </v-btn>
                </v-col>
                <v-col class="pr-1">
                  <v-btn block class="px-1" @click="point = [gender+'-pullpick']" :class="{'o-5': points.length>0 && lastEvent.replace('F-','').replace('M-','')=='goal'}">
                    <v-icon small left>mdi-arrow-expand-up</v-icon>
                    Pick up
                  </v-btn>
                </v-col>
                <v-col class="pr-1">
                  <v-btn block class="px-1" @click="point = [gender+'-pulldrop']" :class="{'o-5': points.length>0 && lastEvent.replace('F-','').replace('M-','')=='goal'}">
                    <v-icon small left>mdi-format-vertical-align-bottom</v-icon>
                    drop
                  </v-btn>
                </v-col>

              </template>

            <!-- WE HAVE TO PICK UP -->
              <template v-else-if="lastEvent=='O-throwaway' || lastEvent.replace('F-','').replace('M-','')=='defense'">
                <v-col class="pr-1">
                  <v-btn block @click="point.push(gender+'-pick')">
                    <v-icon small left>mdi-arrow-expand-up</v-icon>
                    Pick up
                    <!-- <v-icon small>mdi-arrow-expand-up</v-icon> -->
                  </v-btn>
                </v-col>
              </template>

            <!-- WE PLAY -->
              <template v-else-if="['pullpick','pick','catch'].indexOf(lastEvent.replace('F-','').replace('M-','') ) >-1">

                <!-- <template v-if="lastEvent.replace('F-','').replace('M-','')!='defense' && lastEvent!='throwaway'"> -->
                  <v-col class="pr-1">
                    <v-btn block class="px-2" @click="point.push(gender+'-catch')">
                      <v-icon small left>mdi-hand-okay</v-icon>
                      <!-- <v-icon small left>mdi-clap</v-icon> doesnt exist yet -->
                      Catch
                    </v-btn>
                  </v-col>
                  <v-col class="pr-1">
                    <v-btn block class="px-2" @click="point.push(gender+'-drop')">
                    <v-icon small left>mdi-format-vertical-align-bottom</v-icon>
                      Drop
                    </v-btn>
                  </v-col>
                  <v-col class="pr-1">
                    <v-btn block class="px-2" @click="point.push(gender+'-goal'); endPoint();">
                      <!-- <v-icon small left>mdi-emoticon-happy</v-icon> -->
                      <v-icon small left>mdi-human-handsup</v-icon>
                      <!-- <v-icon small left>mdi-check-bold</v-icon> -->
                      <!-- <v-icon small left>mdi-plus-one</v-icon> -->
                      Goal
                    </v-btn>
                  </v-col>
                <!-- </template> -->

              </template>

            <!-- THEY HAVE TO PICK UP -->
            <!-- THEY PLAY -->
              <template v-else>
                <v-col class="pr-1">
                  <v-btn block @click="point.push(gender+'-defense')">
                    <v-icon small left>mdi-hand-left</v-icon>
                    Defense
                    <!-- <v-icon small>mdi-human-handsup</v-icon> -->
                  </v-btn>
                </v-col>
              </template>

            </v-row>


            <!-- General actions -->
            <template v-if="point.length>0"> <!-- the point started -->
              <v-row class="align-center" v-if="['pullpick','pick','catch'].indexOf(lastEvent.replace('F-','').replace('M-','') ) >-1">
                <v-col class="offset-1">
                  <v-btn block  @click="point.push('U-throwaway')">
                    <v-icon small left>mdi-gesture</v-icon>
                    Throwaway / Stallout
                  </v-btn>
                </v-col>
              </v-row>
              
              <v-row class="align-center" v-else-if="lastEvent!='O-throwaway' && lastEvent.replace('F-','').replace('M-','')!='defense'">
                <v-col cols="1">
                  <v-icon small>mdi-emoticon-devil</v-icon>
                </v-col>
                <v-col class="">
                  <v-btn block @click="point.push('O-throwaway')">
                    <v-icon small left>mdi-gesture</v-icon>
                    Throwaway
                  </v-btn>
                </v-col>
                <v-col>
                  <v-btn block @click="point.push('O-goal'); endPoint();">
                    <v-icon small left>mdi-human-handsup</v-icon>
                    <!-- <v-icon small left>mdi-human-handsup</v-icon> -->
                    their Goal
                  </v-btn>
                </v-col>
              </v-row>


            </template>
            
            <template v-if="point.length>0 || points.length>0">
              <v-btn class="mt-5 " block  @click="undoLast()">
                <v-icon small left color="red">mdi-eraser</v-icon>
                Undo Last
              </v-btn>
            </template>


          <h4 class="overline mt-5">All Points</h4>

          <!-- SAVED EVENTS -->
            <v-simple-table class="my-3" dense>
               <template v-slot:default>
                 <thead>
                   <tr>
                     <th class="text-left">Point</th>
                     <th class="text-left">Events</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr v-for="(point, i) in points" :key="point">
                     <td>{{ i+1 }}</td>
                     <td>{{ point.join('>') }}</td>
                   </tr>
                   <tr>
                     <td>{{ points.length+1 }}</td>
                     <td>{{ point.join('>') }}</td>
                   </tr>
                 </tbody>
               </template>
             </v-simple-table>
             

          <h4 class="overline mt-5">Score</h4>

            <div class="">
              <div class="d-flex justify-center">
                
                  You <span class="font-weight-black px-4">{{score}}</span> Them
                
              </div>
              <v-btn dark block class="mt-5" @click="endGame()">
                <v-icon small left>mdi-content-save</v-icon>
                End Game & save
              </v-btn>
              
              <div class="d-flex justify-space-around">
                
                <v-btn class="mt-5" @click="points = games[selectedGame].points">
                  <v-icon small left>mdi-database-import</v-icon>
                  Load Points
                </v-btn>
                <v-btn class="mt-5" @click="points = []">
                  <v-icon small left>mdi-delete</v-icon>
                  Clear Points
                </v-btn>
              </div>
            </div>

          </v-card-text>

          <v-card-text v-else class="text-cente mt-5 px-5 mx-5">
            <p>
                   No game selected.
              <br> Select a Game in the GAME tab.
            </p>
          </v-card-text>
        </v-card>
      </v-tab-item>


<!-- PAGE3 -->
      <v-tab-item value="tab3" eager :transition="false" :reverse-transition="false">
        <v-card flat>
          <v-card-text v-if="selectedGame!=undefined && games[selectedGame].score">
            
            <div class="text-center py-2">
              Selected Game: "{{games[selectedGame].name}}"
            </div>
            
            <div align="center">
              <v-btn-toggle v-model="stat_type" class="text-center">
                <v-btn class="px-2" small value="Count">count</v-btn>
                <v-btn class="px-2" small value="Percentage">Perc%</v-btn>
                <v-btn class="px-2" small value="Parity/Game">Parity/Game</v-btn>
                <!-- <v-btn class="px-2" small value="Parity/Point">Parity/Point</v-btn> -->
              </v-btn-toggle>
            </div>


            <h2 class="overline mt-5">Gender Stats</h2>
            <v-simple-table dense >
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left"></th>
                    <th class="text-right">
                      <span v-if="useMF">M</span>
                      <v-icon v-else small>mdi-gender-male</v-icon>
                    </th>
                    <th class="text-right">
                      <span v-if="useMF">F</span>
                      <v-icon v-else small>mdi-gender-female</v-icon>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="stat in stats.mmmmmmm" :key="stat" >
                    <td>{{ stat.title }}</td>
                    <td class="text-right" 
                    :class="[{'font-weight-bold orange--text': stat.m>20 && stat_type=='Parity/Game'}
                            ,{'font-weight-bold orange--text': stat.m>50 && stat_type=='Percentage'}]"
                            >
                      {{ stat.m | round0 }}<small v-if="stat_type!='Count'" class="o-8">%</small>
                    </td>
                    <td class="text-right" 
                    :class="[{'font-weight-bold orange--text': stat.f>20 && stat_type=='Parity/Game'}
                            ,{'font-weight-bold orange--text': stat.f>50 && stat_type=='Percentage'}]"
                            >
                      {{ stat.f | round0 }}<small v-if="stat_type!='Count'" class="o-8">%</small>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>

            <h2 class="overline mt-5">Passes</h2>
            <v-simple-table dense >
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">From<v-icon x-small>mdi-arrow-down</v-icon> <v-icon small class="mdi-flip-h">mdi-slash-forward</v-icon> To<v-icon x-small>mdi-arrow-right</v-icon></th>
                    <th class="text-left">
                      <span v-if="useMF">F</span>
                      <v-icon v-else small>mdi-gender-female</v-icon>
                    </th>
                    <th class="text-left">
                      <span v-if="useMF">M</span>
                      <v-icon v-else small>mdi-gender-male</v-icon>
                    </th>
                    <th class="text-left o-7"><v-icon small>mdi-sigma</v-icon></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>
                      <span v-if="useMF">F</span>
                      <v-icon v-else small>mdi-gender-female</v-icon>
                    </th>
                    <td
                    :class="[{'font-weight-bold orange--text': stats.passes.ff>20 && stat_type=='Parity/Game'}
                            ,{'font-weight-bold orange--text': stats.passes.ff>25 && stat_type=='Percentage'}]">{{stats.passes.ff | round0 }} <small v-if="stat_type!='Count'">%</small></td>
                    <td
                    :class="[{'font-weight-bold orange--text': stats.passes.fm>20 && stat_type=='Parity/Game'}
                            ,{'font-weight-bold orange--text': stats.passes.fm>25 && stat_type=='Percentage'}]">{{stats.passes.fm | round0 }} <small v-if="stat_type!='Count'">%</small></td>
                    <td class="o-7">{{ +stats.passes.ff + +stats.passes.fm | round0 }} <small v-if="stat_type!='Count'">%</small></td>
                  </tr>
                  <tr>
                    <th>
                      <span v-if="useMF">M</span>
                      <v-icon v-else small>mdi-gender-male</v-icon>
                    </th>
                    <td
                    :class="[{'font-weight-bold orange--text': stats.passes.mf>20 && stat_type=='Parity/Game'}
                            ,{'font-weight-bold orange--text': stats.passes.mf>25 && stat_type=='Percentage'}]">{{stats.passes.mf | round0 }} <small v-if="stat_type!='Count'">%</small></td>
                    <td
                    :class="[{'font-weight-bold orange--text': stats.passes.mm>20 && stat_type=='Parity/Game'}
                            ,{'font-weight-bold orange--text': stats.passes.mm>25 && stat_type=='Percentage'}]">{{stats.passes.mm | round0 }} <small v-if="stat_type!='Count'">%</small></td>
                    <td class="o-7">{{ +stats.passes.mf + +stats.passes.mm | round0 }} <small v-if="stat_type!='Count'">%</small></td>
                  </tr>
                  <tr class="o-7">
                    <th><v-icon small>mdi-sigma</v-icon></th>
                    <td>{{ +stats.passes.ff + +stats.passes.mf | round0 }} <small v-if="stat_type!='Count'">%</small></td>
                    <td>{{ +stats.passes.fm + +stats.passes.mm | round0 }} <small v-if="stat_type!='Count'">%</small></td>
                    <td>{{ +stats.passes.ff + +stats.passes.fm + +stats.passes.mf + +stats.passes.mm | round0 }} <small v-if="stat_type!='Count'">%</small></td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>



            <div class="d-flex justify-center">
              <v-chart-pie :data="piedata" class="mkipoqjxnqt"></v-chart-pie>
            </div>
            
            
            

          </v-card-text>
          <v-card-text v-else-if="selectedGame!=undefined" class="text-cente mt-5 px-5 mx-5">

            <p>
                   No points recorded for the selected Game.
              <br> Record a Game first in the <strong>TRACK</strong> tab.
              <br> Don't forget to hit <strong>SAVE</strong>.
            </p>

          </v-card-text>
          <v-card-text v-else class="text-cente mt-5 px-5 mx-5">
            <p>
                   No game selected.
              <br> Select a Game in the GAME tab.
            </p>
          </v-card-text>
        </v-card>
      </v-tab-item>


<!-- PAGE4 -->
      <v-tab-item value="tab4" eager :transition="false" :reverse-transition="false">
        <v-card flat class="pt-5">
          <v-card-text v-if="selectedGame!=undefined && games[selectedGame].score"
            align="center" class="mt-5"
           >
            <div class="text-center py-2">
              Selected Game: "{{games[selectedGame].name}}"
            </div>
            
            <v-btn class="ma-2" dark @click="downloadGame()">
              <v-icon left>mdi-download</v-icon> Download Game
            </v-btn>

            <p>
              This will download a json file.
              <br>
              Which you can save, share and reupload to analyse later.
            </p>
          </v-card-text>
          <v-card-text v-else-if="selectedGame!=undefined" class="text-cente px-5 mx-5">
            <p>
                   No points recorded for the selected Game.
              <br> Record a Game first in the <strong>TRACK</strong> tab.
              <br> Don't forget to hit <strong>SAVE</strong>.
            </p>
          </v-card-text>
          <v-card-text v-else class="text-cente px-5 mx-5">
            <p>
                   No game selected.
              <br> Select a Game in the GAME tab.
            </p>
          </v-card-text>
        </v-card>
      </v-tab-item>

    </v-tabs-items>




    <div class="mt-5 pt-5"></div>

    <!-- <v-divider class="mb-5"></v-divider> -->
    <v-footer class="align-start justify-center mt-5 pt-5">
      <v-col cols="612" sm="10">
        <h4 class="overline">Options</h4>
        <v-switch v-model="$root.goDark" label="Dark Mode" ></v-switch>
        <v-switch v-model="$root.useMF" label="use M/F instead of symbols" ></v-switch>
      </v-col>
      <v-col cols="12" class="text-center my-5 py-5 o-6 black--text">
          &copy; 2020 
          — <a href="https://zapadisk.be">Zapadisk.be</a>
          <!-- <v-btn text href="https://zapadisk.be"> Zapadisk </v-btn> -->
          — <a href="https://mathiasleroy.com/">Mathias Leroy</a>
          — <a href="https://github.com/mathiasleroy/zapadisk.be">Open Source on GitHub</a>
          — <a href="&#109;&#97;&#x69;&#108;&#x74;&#x6f;&#58;&#109;&#97;&#x74;&#104;&#x69;&#x61;&#x73;&#x40;&#122;&#x61;&#x70;&#x61;&#100;&#105;&#x73;&#x6b;&#x2e;&#x62;&#101;">Contact</a>
					<!--http://robspangler.com/blog/encrypt-mailto-links-to-stop-email-spam/-->
					
      </v-col>
    </v-footer>


<!-- OPTIONS -->

</v-card>

</v-col> </v-row> </v-container>

    <v-snackbar
      v-model="snackbar1"
      :timeout="3000"
      color="succes"
      top
    >
      File uploaded correctly
      <v-icon class="success--text">mdi-check</v-icon>
    </v-snackbar>

      </v-content>
    </v-app>
  </div>

  
<!--Vue-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
<!--httpVueLoader-->
  <!-- <script src="https://unpkg.com/http-vue-loader@1.4.1/src/httpVueLoader.js"></script> -->
<!--Vuetify-->
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
<!--vue-router-->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.min.js"></script> -->
<!--vuex-->
  <!--<script src="https://unpkg.com/vuex@3.1.2/dist/vuex.js"></script>-->
<!--PapaParse-->
  <!-- <script src="assets/js/papaparse.min.js"></script> -->
  
<!--echarts-->
  <!--<script src="https://unpkg.com/browse/echarts@4.5.0/dist/echarts.min.js"></script>-->
  <!--<script src="https://unpkg.com/browse/echarts@4.5.0/dist/echarts-en.min.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/echarts@4.x/dist/echarts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-echarts@4.x"></script>
  
  <!--<script src="https://cdn.jsdelivr.net/npm/vue-vega@1.0.0-alpha.13/dist/vue-vega.min.js"></script>-->
  <!--<script src="https://unpkg.com/vue-vega"></script>-->
  
  
  
<!--MAIN APP SCRIPT-->
  <script type="text/javascript">
    // Vue.use(VueVega.default)
    
    
    var app = new Vue({
      el: '#app',
      vuetify: new Vuetify({
        theme: {
          themes: {
            light: {
              primary: '#000000',
              secondary: '#000000',
              accent: '#000000',
              error: '#000000',
            },
            dark: {
              primary: '#FFFFFF',
              secondary: '#FFFFFF',
              accent: '#FFFFFF',
              error: '#FFFFFF',
            },
          },
        },
      }),
      components: {
        'v-chart': VueECharts,
      },

      // ------------------------------------------------------- DATA
      data: () => ({
        goDark: false,
        modalCreateGame: false,
        modalInfo: false,

        tab: 'tab1',
        selectedGame: null,
        file: null,
        snackbar1: false,
        useMF: false,
        games: [
          // { name: 'Test empty - Robocop vs. Mickey',
          //   date: new Date().toISOString().slice(0, 10),
          //   type: '5vs5',
          //   players: {'M':12,'F':3},
          // },
          { name: 'Test Recorded - Tom vs. jerry',
            date: new Date().toISOString().slice(0, 10),
            players: {'M':5,'F':8},
            type: '5vs5',
            // players: {'M':['John','Brad','Tim'],'F':['Anne','Sophie']},
            points: [
              ["F-pullthrow", "O-throwaway", "O-goal"],
              ["M-pullpick", "F-catch", "M-catch", "F-catch", "F-goal"],
              ["F-pullthrow", "F-defense", "M-pick", "M-drop", "F-defense", "M-pick", "F-catch", "M-goal"],
              ["M-pullthrow", "O-goal"], 
              ["F-pullpick", "F-catch", "F-catch", "F-catch", "M-catch", "M-catch", "F-catch", "M-catch", "F-goal"],
              ["M-pullthrow", "F-defense", "F-pick", "U-throwaway", "F-defense", "M-pick", "M-catch", "M-drop", "F-defense", "M-pick", "M-catch", "F-goal"],
              ["M-pullthrow", "F-defense", "M-pick", "U-throwaway", "F-defense", "M-pick", "M-catch", "F-goal"],
              ["F-pullthrow", "O-throwaway", "F-pick", "F-goal" ],
              ["F-pullthrow", "O-throwaway", "F-pick", "F-goal" ],
              ["F-pullthrow", "O-throwaway", "F-pick", "F-goal" ],
              ["F-pullthrow", "O-throwaway", "F-pick", "F-goal" ],
              ["F-pullthrow", "O-throwaway", "M-pick", "M-goal" ],
              ["F-pullthrow", "O-throwaway", "M-pick", "M-goal" ],
              ["F-pullthrow", "O-throwaway", "M-pick", "M-goal" ],
              ["F-pullthrow", "O-throwaway", "M-pick", "M-goal" ],
            ],
            alignedF: [1,1,1,1,1,2,2,2,2,2,4,4,4,4,4],
            score: '13 — 2',
          },
        ],
        game:{
          name: null,
          date: new Date().toISOString().slice(0, 10),
          // players: 7,
          players: {'M':9,'F':9},
          type: '5vs5',
          // hardcap: null,
        },

        // thisPoint:0,
        points:[],
        point:[],
        totalAlignedF:[],
        currentlyAlignedF:null,

        stat_type: 'Count',
        
        piedata: {'F>F':45,'F>M':78,'M>F':98,'M>M':12},
        

      }), // /data: () => ({
      
      // ------------------------------------------------------- COMPUTED
      computed: {
        score(){
          var ourPoints = this.points.filter(d => d.slice(-1)[0].indexOf('O-goal')).length;
          // console.log('ourPoints', ourPoints)
          return ourPoints +' — '+ (this.points.length - ourPoints);
        },
        lastEvent(){
          // if we are in a point
          if(this.point.length>0){
            ev = this.point.slice().pop()//.replace('F-','').replace('M-','')//.split('-')[1];
          }
          // or previous points
          else if(this.points.length>0)
            ev = this.points.slice().pop().slice().pop()//.replace('F-','').replace('M-','')//.split('-')[1];
          else ev='';
          // console.log('ev',ev)
          return ev;
        },
        stats(){
          var ggg = this.games[this.selectedGame];
          var ppp = ggg.points;
          // console.log(ppp);

          var nplm = +ggg.players.M;
          var nplf = +ggg.players.F;
          var nplt = nplm + nplf;
          // console.log('nplt', nplt);

          var pullsM = ppp.filter(d => d[0].indexOf('M-pullthrow')>-1).length;
          var pullsF = ppp.filter(d => d[0].indexOf('F-pullthrow')>-1).length;
          var pullsT = pullsM + pullsF;
          // console.log(pullsM, pullsF, pullsT);

          var goalsM = ppp.filter(d => d[d.length-1].indexOf('M-goal')>-1).length;
          var goalsF = ppp.filter(d => d[d.length-1].indexOf('F-goal')>-1).length;
          var goalsT = goalsM + goalsF;
          // console.log(goalsM, goalsF, goalsT);

          var picksM = 0, picksF = 0;
          var defsM = 0, defsF = 0;
          var dropsM = 0, dropsF = 0;
          var throwawaysM = 0, throwawaysF = 0;
          var assistsM = 0, assistsF = 0;
          var previousGender='';
          var pff = 0, pfm = 0, pmf = 0, pmm = 0;
          ppp.map((pp, pii) => { // each point ==============
            // // compute aligned numbers
            // nf = ggg.alignedF[pii];
            // nm = ggg.type.split('vs')[0] - nf;
            // // console.log('alignedGenders',nf,'F',nm,'M');
            // // alignedGenders = {'F':nf, 'M':nm};
            // // console.log('alignedGenders',alignedGenders);

            pp.map((ee, eii) => { // each event
              gender = ee.split('-')[0];
              event = ee.split('-')[1];

              // pick
              if(ee=='M-pullpick') picksM++;
              else if(ee=='F-pullpick') picksF++;
              else if(ee=='M-pick') picksM++;
              else if(ee=='F-pick') picksF++;
              // defense
              else if(ee=='M-defense') defsM++;
              else if(ee=='F-defense') defsF++;
              // drops
              else if(ee=='M-drop') dropsM++;
              else if(ee=='F-drop') dropsF++;
              // throwaways
              else if(ee=='U-throwaway'){
                if(previousGender=='F') throwawaysF++;
                else if(previousGender=='M') throwawaysM++;
              } 
              // assists
              else if(ee=='F-goal' || ee=='M-goal') {
                if(previousGender=='F') assistsF++;
                else if(previousGender=='M') assistsM++;
              }

              // passes
              if(event=='catch' || event=='goal') {
                if(gender=='F') {
                  if(previousGender=='F') {
                    pff++;
                  }
                  else if(previousGender=='M') {
                    pmf++;
                  }
                }
                else if(gender=='M') {
                  if(previousGender=='F') {
                    pfm++;
                  }
                  else if(previousGender=='M') {
                    pmm++;
                  }
                }
              }
              previousGender = gender;
            });
          });
          var picksT = picksM + picksF;
          var defsT = defsM + defsF;
          var dropsT = dropsM + dropsF;
          var throwawaysT = throwawaysM + throwawaysF;
          var assistsT = assistsF + assistsM;
          var ptt = pff + pmf+ pfm+ pmm;
          // console.log(picksM, picksF, picksT)
          // console.log(pff, pfm, pmf, pmm);

          if(this.stat_type=='Count'){
          } 

          else if(this.stat_type=='Percentage'){
            nplm = (100* nplm/nplt);
            nplf = (100* nplf/nplt);
            pullsM = (100* pullsM/pullsT);
            pullsF = (100* pullsF/pullsT);
            defsM = (100* defsM/defsT);
            defsF = (100* defsF/defsT);
            picksM = (100* picksM/picksT);
            picksF = (100* picksF/picksT);
            goalsM = (100* goalsM/goalsT);
            goalsF = (100* goalsF/goalsT);
            assistsM = (100* assistsM/assistsT);
            assistsF = (100* assistsF/assistsT);
            dropsM = (100* dropsM/dropsT);
            dropsF = (100* dropsF/dropsT);
            throwawaysM = (100* throwawaysM/throwawaysT);
            throwawaysF = (100* throwawaysF/throwawaysT);
            pff = (100* pff/ptt);
            pfm = (100* pfm/ptt);
            pmf = (100* pmf/ptt);
            pmm = (100* pmm/ptt);
          } 

          else if(this.stat_type=='Parity/Game'){
            // // 1st formula
            // pullsM = (100* pullsM/(pullsT*nplm/nplt) )
            // pullsF = (100* pullsF/(pullsT*nplf/nplt) )
            // nplm = (100* nplm/(nplt*0.5) )
            // nplf = (100* nplf/(nplt*0.5) )
            // --> complex to interpret

            expectedM = (nplm/nplt);
            expectedF = (nplf/nplt);

            // 2nd formula
            pullsM = (100* ((pullsM/pullsT) - expectedM));
            pullsF = -pullsM; // pullsF = (100* ((pullsF/pullsT) - expectedF)) +'%';
            defsM = (100* ((defsM/defsT) - expectedM));
            defsF = -defsM;
            picksM = (100* ((picksM/picksT) - expectedM));
            picksF = -picksM;
            goalsM = (100* ((goalsM/goalsT) - expectedM));
            goalsF = -goalsM;
            assistsM = (100* ((assistsM/assistsT) - expectedM));
            assistsF = -assistsM;
            dropsM = (100* ((dropsM/dropsT) - expectedM));
            dropsF = -dropsM;
            throwawaysM = (100* ((throwawaysM/throwawaysT) - expectedM));
            throwawaysF = -throwawaysM;

            expectedFF = nplf*(nplf-1) ; // number of passes if everyone throws to everyone
            expectedFM = nplf*nplm ;
            expectedMF = nplm*nplf ;
            expectedMM = nplm*(nplm-1) ;
            // console.log(expectedFF,expectedFM,expectedMF,expectedMM);
            expectedTT = expectedFF+expectedFM+expectedMF+expectedMM;

            expectedFF = expectedFF / expectedTT; // proportion on total
            expectedFM = expectedFM / expectedTT;
            expectedMF = expectedMF / expectedTT;
            expectedMM = expectedMM / expectedTT;
            // console.log(expectedFF,expectedFM,expectedMF,expectedMM);

            pff = (100* ((pff/ptt) - expectedFF));
            pfm = (100* ((pfm/ptt) - expectedFM));
            pmf = (100* ((pmf/ptt) - expectedMF));
            pmm = (100* ((pmm/ptt) - expectedMM));

            nplm = '/';
            nplf = '/';


            // console.log('Parity/Game')
          }

          else if(this.stat_type=='Parity/Point'){
            // + points played

            ppp.map((pp, pii) => { // each point ==============
              // compute aligned numbers
              nf = ggg.alignedF[pii];
              nm = ggg.type.split('vs')[0] - nf;
              console.log(nf,'F',nm,'M');
              // alignedGenders = {'F':nf, 'M':nm};
              // console.log('alignedGenders',alignedGenders);

              pp.map((ee, eii) => { // each event
                // gender = ee.split('-')[0];
                // event = ee.split('-')[1];
                // previousGender = gender;
              });
            });

            pullsM = 0
            pullsF = 0
            defsM = 0
            defsF = 0
            picksM = 0
            picksF = 0
            goalsM = 0
            goalsF = 0
            assistsM = 0
            assistsF = 0
            dropsM = 0
            dropsF = 0
            throwawaysM = 0
            throwawaysF = 0
            pff = 0
            pfm = 0
            pmf = 0
            pmm = 0
            nplm = 0
            nplf = 0
          }
          
          // ROUNDING PRECISION
          pff = Math.round(pff *100)/100;
          pfm = Math.round(pfm *100)/100;
          pmf = Math.round(pmf *100)/100;
          pmm = Math.round(pmm *100)/100;
          
          
          // UPDATE PIE CHART 
          // if(this.stat_type!='Parity/Game'){
          if(this.stat_type=='Count'){
            app.$data.piedata = {'F>F':pff,'F>M':pfm,'M>F':pmf,'M>M':pmm};
          }

          return {
            passes: {ff:pff,fm:pfm,mf:pmf,mm:pmm},
            mmmmmmm: [
              { title:'Players', m:nplm, f:nplf },
              { title:'Pull Throws', m:pullsM, f:pullsF },
              { title:'Disk Pickups', m:picksM, f:picksF },
              { title:'Defenses', m:defsM, f:defsF },
              { title:'Goals', m:goalsM, f:goalsF },
              { title:'Assists', m:assistsM, f:assistsF },
              { title:'Drops', m:dropsM, f:dropsF },
              { title:'Throwaways /stallouts', m:throwawaysM, f:throwawaysF },
            ]
          };
        },
      }, // /computed: {
      
      // ------------------------------------------------------- MOUNTED
      // mounted () {
      //   console.log('app mounted');
      // }, // /mounted () {
      
      // ------------------------------------------------------- WATCH
      watch: {
        goDark: function(val, oldval){
          this.$vuetify.theme.dark = val
        },
        // tab: function(val, oldval){
        //   n = +val.split('tab')[1]
        //   if(this.selectedGame==undefined && n>1){
        //     this.tab = 'tab1';
        //   }
        // },
      }, // /watch: {
      
      // ------------------------------------------------------- METHODS
      methods: {
        createGame(){
          console.log('createGame()')
          // this.game.points = [];
          // this.games.push(this.game); // this is a deep copy, bug
          this.games.push({
            name: this.game.name,
            date: this.game.date,
            players: this.game.players,
            type: this.game.type,
            points: null,
            alignedF: null,
            score: null,
          });
          this.selectedGame = this.games.length -1;
        },
        uploadGame(file){
          // file=ev.target.files[0];
          console.log('uploadGame()')
          let that=this;

          const reader = new FileReader();
          reader.onload = e => { 
            var ggg = JSON.parse(e.target.result);
            // console.log(ggg);
            this.games.push(ggg);
            this.selectedGame = this.games.length -1;
          };
          reader.readAsText(file);
          
          // empty input
          // console.log(this.$refs.uploadInputRef)
          setTimeout(function() {
            that.file = null;
          }, 10);
          
          // confirm snackbar
          that.snackbar1 = true;
          
          // reset app
          this.stat_type='Count';
          
        },
        editGame(index){
          console.log('editGame()')
          // console.log(this.games[index])
          thisgame = this.games[index];
          this.game = {
            name: thisgame.name,
            date: thisgame.date,
            players: thisgame.players,
            type: thisgame.type,
            points: thisgame.points,
            alignedF: thisgame.alignedF,
            score: thisgame.score,
          };
          
          this.modalCreateGame = true;
        },
        deleteGame(index){
          console.log('deleteGame()')
          this.games.splice(index, 1);

          if(this.selectedGame>=this.games.length 
            // || this.selectedGame==undefined || this.selectedGame==0 // don't get why this doesn't work.
            ) 
            this.selectedGame = this.games.length -1;
        },
        undoLast(){
          if(this.point.length==0) this.point = this.points.pop();
          this.point.pop();
        },
        endPoint(){
          console.log('endPoint()');

          this.totalAlignedF.push(this.currentlyAlignedF);
          this.points.push(this.point);
          this.point = [];
          
          this.currentlyAlignedF=-1;
        },
        endGame(){
          console.log('endGame()')

          thisGame = this.games[this.selectedGame];

          thisGame.points = this.points;
          thisGame.score = this.score;
          thisGame.savedate = new Date().toISOString().slice(0, 10);
          thisGame.alignedF = this.totalAlignedF;

          // reset points
          // this.points = [];
          // this.point = [];

          // move view
          this.tab = 'tab3';
        },
        downloadGame(){
          console.log('downloadGame()')
          var obj = this.games[this.selectedGame];
          var data = JSON.stringify(obj, undefined, 2)
          var blob = new Blob([data], {type: 'text/json'});
          var a = document.createElement('a');
          a.href = URL.createObjectURL(blob);
          a.download = 'GAME - '+obj.name+'.json';
          document.body.appendChild(a); a.style.display = 'none'; // Firefox fix?
          a.click();
        },
      }, // /methods: {

      // ------------------------------------------------------- FILTERS
      filters: {
        round0(val) {
          if(typeof val == 'number') return (val +0.0001).toFixed(0); // add very small number so 0 doesn't show as -0
          else return val;
        },
        // perc(val) {
        //   if (!val) return '';
        //   else if (this.stat_type=='Count') else return val;
        //   else return val+'%';
        // },
        
      }, // /filters: {
    }); // /var app
    
    
    
// COMPONENTS

Vue.component('v-chart-pie', {
  props: ['data', 'title', 'type'],
  components: {
    'v-chart': VueECharts,
  },
  data:() => ({
    // echartdef_LINE: {
    //   xAxis: { data: [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ] },
    //   yAxis: { type: 'value' },
    //   series: [ { type: 'line',
    //       data: [55, 72, 84, 48, 59, 62, 87, 75, 94, 101, 127, 118]
    //   }],
    //   title: { text: 'Monthly Stock Prices', x: 'center', },
    //   color: ['#127ac2']
    // },
    // echartdef_HBAR: {
    //   xAxis : [
    //     { // type : 'value' 
    //     }
    //   ],
    //   yAxis : [
    //     {
    //       // type : 'category',
    //       // axisTick : {show: false},
    //       data : ['ff','fm','mf','mm']
    //     }
    //   ],
    //   series : [
    //     {
    //       // name:'利润',
    //       type:'bar',
    //       label: {
    //         normal: {
    //           show: true,
    //           // position: 'inside'
    //         }
    //       },
    //       data:[-6, -11, 0, 17]
    //     },
    //   ]
    // },
    echartdef_PIE: {
      title: {
        text: this.title,
        x: 'center'
      },
      tooltip: {
        trigger: 'item',
        formatter: '{b} : {c} ({d}%)'
      },
      // legend: {
      //   orient: 'vertical',
      //   left: 'left',
      //   data: ['F>F', 'M>M', 'F>M', 'M>F']
      // },
      series: [
        {
          name: 'nonameneeded',
          type: 'pie',
          radius: ['40%', '90%'],
          // center: ['50%', '60%'],
          data: [
            { value: 546, name: 'F>F' },
            { value: 310, name: 'M>M' },
            { value: 234, name: 'F>M' },
            { value: 135, name: 'M>F' },
            // { value: 1548, name: 'ee' }
          ],
          label: {
              normal: {
                  show: true,
                  position: 'inside'
              },
          },
          avoidLabelOverlap: true,
          itemStyle: {
            emphasis: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            },
          },
        }
      ]
    },
  }),
  watch: {
    data: function(val, oldval){
      this.echartdef_PIE.title.text = val;
    },
    data: function(ddd, oldval){
      this.echartdef_PIE.series[0].data = [];
      Object.keys(ddd).map((label, ii)=> {
        value = ddd[label];
        if (value)
            this.echartdef_PIE.series[0].data.push({'name':label, 'value':ddd[label]});
      })
    },
  }, // /watch: {
  template: `<div >
      <v-chart 
      :options="echartdef_PIE" 
      autoresize
      theme="ovilia-green"
      ></v-chart>
  </div>`,
          // style="width:100%"
          // theme="ovilia-green"
          // theme="polarTheme"
});
    
    
    

  </script>
  

  <!--SERVICE WORKER-->
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('sw-workbox.js');
      });
    }
  </script>
  

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102498736-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-102498736-2');
  </script>
  
  <script>
(function() {
  // var isChrome = window.chrome || navigator.userAgent.match('CriOS');
  var isTouch = 'ontouchstart' in document.documentElement;

  // if (!isChrome || !isTouch) {
  if (!isTouch) {
    return;
  }
  
  // alert(1)

  var supportsOverscroll = false;
  var supportsPassive = false;
  var lastTouchY = 0;
  var maybePrevent = false;

  // try {
  //   if (CSS.supports('overscroll-behavior-y', 'contain')) {
  //     supportsOverscroll = true;
  //   }
  // } catch (e) {}
  // alert('supportsOverscroll '+ supportsOverscroll)
  // if (supportsOverscroll) {
  //   return (document.body.style.overscrollBehaviorY = 'contain'); // this return ends the code after
  // } else {
  //   var head = document.head || document.body;
  //   var style = document.createElement('style');
  //   var css =
  //     '\n      ::-webkit-scrollbar {\n        width: 5px;\n      }\n      ::-webkit-scrollbar-thumb {\n        border-radius: 5px;\n        background-color: rgba(0, 0, 0, 0.2);\n      }\n      body {\n        -webkit-overflow-scrolling: auto!important;\n      }\n    ';
  //   style.type = 'text/css';
  //   if (style.styleSheet) {
  //     style.styleSheet.cssText = css;
  //   } else {
  //     style.appendChild(document.createTextNode(css));
  //   }
  //   head.appendChild(style);
  // }
  
  try {
    window.addEventListener('test', null, {
      get passive() {
        supportsPassive = true;
      },
    });
  } catch (e) {}
  
  // alert('supportsPassive '+ supportsPassive)

  var setTouchStartPoint = function setTouchStartPoint(event) {
    lastTouchY = event.touches[0].clientY;
  };
  // alert('lastTouchY '+ lastTouchY)

  var isScrollingUp = function isScrollingUp(event) {
    var touchY = event.touches[0].clientY;
    var touchYDelta = touchY - lastTouchY;
    lastTouchY = touchY;
    return touchYDelta > 0;
  };

  var touchstartHandler = function touchstartHandler(event) {
        // alert('touchstartHandler')
    if (event.touches.length !== 1) return;
    setTouchStartPoint(event);
    maybePrevent = window.pageYOffset === 0;
  };

  var touchmoveHandler = function touchmoveHandler(event) {
        // alert('touchmoveHandler')
    if (maybePrevent) {
      maybePrevent = false;

      if (isScrollingUp(event)) {
        // alert()
        return event.preventDefault();
      }
    }
  };

  document.addEventListener(
    'touchstart',
    touchstartHandler,
    supportsPassive
      ? {
          passive: true,
        }
      : false,
  );
  document.addEventListener(
    'touchmove',
    touchmoveHandler,
    supportsPassive
      ? {
          passive: false,
        }
      : false,
  );
})();
  </script>
  
<!--</div>--> <!--.pseudobody-->
</body>
</html>


<!-- 
TODO
- BUG: pie chart stays if select % then upload new game and go back to stats. because pie only updates on COUNT.

- forget to encode currentlyAlignedF -> force only see that
- undo even if point is ended
- if page reloaded -> loose everything. Save in cache before reload or prevent reload ?


- minify -> faster
- share games in the cloud ? (with password ?) (accounts?)
- show multiple game stats
- 1 global parity index ?

 -->